<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-container">
    <a href="/" class="w3-button">Go Home</a>
    <form class="w3-container" method="POST" >
        <div class="w3-third">
        <h2 class="w3-center" for="team_one">Team One</h2><br>
        <input class="w3-input w3-border"  type="text" id="team_one" name="team_one" ><br>
    </div>
        <div class="w3-third">
        <h2 class="w3-center" for="team_two">Team Two</h2><br>
        <input class="w3-input w3-border"  type="text" id="team_two" name="team_two" ><br>
    </div>
        <div class="w3-third">
        <h2 class="w3-center" for="date">Date</h2><br>
        <input class="w3-input w3-border"  type="text" id="date" name="date" required><br>
        </div>
        <input class="w3-button w3-teal w3-block"  type="submit" value="Get Game ID" class="submit-button">
    </form>

    <ul class="w3-ul">
        {% if game_id %}
            
        <form class="w3-container" method="POST">
        <div class="w3-half">
        {% for game in game_id %}
            <li style="font-size:30px; text-align: right;">{{ game }} </li>
        {% endfor %}
        </div>
        <div class="w3-half">
        {%for date in dates%}
            <li style="font-size:30px; text-align: left;">{{ date }}</li>
        {% endfor %}
        </div>

        {% endif %}
    </form>
    </ul>


</div>

</body>
</html>