<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div size = 50% class="w3-bar w3-center">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_anaheim.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_AZ.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_Houston.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_LA.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_Milwaukee.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_MN.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_Oakland.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_Philly.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_Pittsburg.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_SD.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_STL.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/Julio_Toronto.jpg') }}">
    <img width="7.5%" height="7.5%" alt="Julio Rodríguez" src="{{ url_for('static', filename='julios/julio.jpg') }}">

    <h1>MLB Stat Tool</h1>

    <a href="/roster" style="width:20%" class="w3-button w3-bar-item w3-teal">Roster</a>
    <a href="/search" style="width:20%" class="w3-button w3-bar-item w3-teal">Search</a>
    <a href="/gameid" style="width:20%" class="w3-button w3-bar-item w3-teal">Game Id Search</a>
    <a href="/matchup" style="width:20%" class="w3-button w3-bar-item w3-teal">Pitcher Batter Matchup</a>
    <a href="/get_stat_leader" style="width:20%" class="w3-button w3-bar-item w3-teal">Stat Leader</a>
</div>

</body>
</html>