<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-bar w3-center">

    <h1>Carson's MLB Stats!</h1>

    <a href="/roster" style="width:25%" class="w3-button w3-bar-item w3-teal">Roster</a>
    <a href="/search" style="width:25%" class="w3-button w3-bar-item w3-teal">Search</a>
    <a href="/gameid" style="width:25%" class="w3-button w3-bar-item w3-teal">Game Id Search</a>
    <a href="/matchup" style="width:25%" class="w3-button w3-bar-item w3-teal">Pitcher Batter Matchup</a>
</div>

</body>
</html>