<!DOCTYPE html>
<html>
<head>
    <title>Matchup</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-container ">
        <a href="/" class="w3-button w3-teal">Go Home</a>
        <form class="w3-container" method="POST">
            <div class="w3-third">
            <h2 class="w3-center" for="player_one">Batter</h2><br>
            <input class="w3-input w3-border" type="text" id="player_one" name="player_one" ><br>
            </div>
            <div class="w3-third">
            <h2 class="w3-center" for="player_two">Pitcher</h2><br>
            <input class="w3-input w3-border" type="text" id="player_two" name="player_two" ><br>
            </div>
            <div class="w3-third">
            <h2 class="w3-center" for="year">Year</h2><br>
            <input class="w3-input w3-border" type="text" id="year" name="year" ><br>
            </div>  
            <input class="w3-button w3-teal w3-block" type="submit" value="Submit">
        </form>


        {% if matchup %}
        <h1 class="w3-center">Matchup:</h1>
        <ul class="w3-ul w3-center">
            {% for player in matchup %}
            <li style="font-size:30px">{{ player }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No matchup available.</p>
        {% endif %}
    </div>
</body>
</html>